.contact-title {
    border-bottom: 5px solid #FFFDD0;
    color: #2B1400;
    width: 7%;
    font-weight: 700;
    line-height: 2em;
}
.content-background {
    border: 1px solid #2B1400;
    padding: 20px;
    color: #2B1400;
    box-shadow: 0 0 10px #2B1400;
}
.contact-input {
    background-color: #FFFDD0;
}
.contact-input:focus {
    border-color: #2B1400;
    outline: 0;
    box-shadow: 0 0 0.25rem #2B1400;
    background-color: #FFFDD0;
    color: #2B1400;
}
.contactIcon {
    font-size: 30px;
    background-color: #9F816D;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #FFFDD0;
}
.contactBtn {
    background-color: #FFFDD0;
    color: #2B1400;
    border: 1px solid #2B1400;
}
.contactBtn:hover {
    background-color: #9F816D;
    color: #FFFDD0;
    border: 1px solid #FFFDD0;
}

@media screen and (max-width: 768px) {
    .border-padding {
        margin-bottom: 3rem;
    }
}