.footerColor {
    background-color: #4B3621;
}
.footerTitle{
    color: #FFFDD0;
}
.footerText {
    color: #FFFDD0;
}
.footerBtn {
    background-color: #FFFDD0;
    color: #2B1400;
    border: 1px solid #2B1400;
}
.footerBtn:hover {
    background-color: #9F816D;
    color: #FFFDD0;
    border: 1px solid #FFFDD0;
}
.footer-background {
    border: 1px solid #2B1400;
    padding: 35px 20px;
    color: #2B1400;
    background-color: white;
    box-shadow: 0 0 10px #2B1400; /* Adjust as needed */
}
.footerIcon {
    font-size: 30px;
    background-color: #9F816D;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    border: 2px solid ;
}
.footerOffCanvas {
    background-color: #C0A080;
    color: #2B1400;
}
.contactInfo {
    color: #2B1400;
}
.offCanvasHeader {
    background-color: #C0A080;
    color: #2B1400;
}
.footerColTwo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.socialMediaIcon {
    font-size: 50px;
    margin-left: 1rem;
    color: #FFFDD0;
}
.footerLinkColor {
    color: #fffdd0;
    text-decoration: none;
    font-size: 18px;
   }
.footerLinkColor:hover {
    color: #C0A080;
    transform: scale(1.15);
    display: inline-block;
   }
.offCanvasSocialMediaIcon {
    font-size: 47px;
    color: #9F816D;
}