.resume {
    background-color: #9F816D;
}
.resumeHeader {
    border-bottom: 5px solid #FFFDD0;
    color: #2B1400;
    width: 7%;
    font-weight: 700;
    line-height: 2em;
}
.resume-title {
    font-weight: 700;
    color: #4B3621;
}
.resume-item {
    color: #2B1400;
    border-left: 2px solid #C0A080;
    padding: 0 0 20px 20px;
    margin-top: -2px;
    position: relative;
}
.resume-item h5::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #FFFDD0;
    border: 2px solid #FFFDD0;
  }
  .timeFrame {
    background-color: #C0A080;
    padding: 0 10px;
    width: 128px;
  }
  .timeFramePresent {
    background-color: #C0A080;
    padding: 0 10px;
    width: 152px;
  }
  .btn-color{
    background-color: #FFFDD0;
    border: 1px solid #2B1400;
    color: #2B1400;
    font-weight: 700;
    font-family: sans-serif;
  }
  .btn-color:hover {
    background-color: #C0A080;
    color: #2B1400;
    border: 1px solid #2B1400;
  }
  .resumeText {
    color: #2B1400;
  }
  .bulletPoints {
    font-weight: 500;
  }
  .mainPoint {
    font-size: 17px;
  }