.techStack {
    background-color: #9F816D;
}
.carouselImg {
    width: 13%;
    height: 9rem;
    padding: 1rem;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .carouselImg {
        width: 26%;
        height: 6rem;
        padding: 1rem;
        object-fit: contain;
    }
    .carousel-control-prev {
        height: 100px;
    }
    .carousel-control-next {
        height: 100px;
    }
    
}